In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from alpha_vantage.alphavantage import AlphaVantage
from alpha_vantage.fundamentaldata import FundamentalData
from alpha_vantage.timeseries import TimeSeries
import numpy as np
import pandas as pd
from pandas import DataFrame as df, Timestamp
import csv
import requests
import os
import time
#import module for mysql 
from os import path
import mysql.connector as mysql
from pandas import DataFrame

def randomize () :
    global zkey
    global _API_KEY_TEST
    zkey += 1
    maxcounter = len(names) - 1
    if zkey > maxcounter :
        zkey = 0
    _API_KEY_TEST = names[zkey]
    print ("the API key right now is : "+_API_KEY_TEST)
    return _API_KEY_TEST

#function for making TTM data
def makettm(tabtemp,x):
    tabtemp = DataFrame(tabtemp)
    width = x
    shifted = tabtemp.shift(0)
    window = shifted.rolling(window=width)
    test = window.sum()
    complete = test.fillna(value=0)
    return complete

#function for add rows to fundamental rows to be equal with timeseries rows and fill nan
def addrow(source,target,ori_table):
    data=[]
    #y=pd.DataFrame()
    counter=0
    for i in range(0,10):
        if source[i]==target[0]:
            break
        counter+=1
    for j in range(0,counter):
        data.insert(j, {np.NaN,np.NaN,np.NaN})
    y=pd.concat([pd.DataFrame(data), ori_table], ignore_index=True) #repeat for all variable
    y.fillna(method='bfill',inplace=True)
    return [y,counter]

def connect(db_name):
    try:
        return mysql.connect(
            host='localhost',
            user='root',
            password='minyak23',
            database=db_name)
    except Error as e:
        print(e)
def step_1() :
    global step 
    step = "step_1"
    data1, meta_data = fd.get_income_statement_quarterly(entity)  #get income statement quarterly data
    data1.to_csv(r'C:\Varians\Income Statement Quarterly.csv', index=None, header=True)
    print("Succsesfully Pull Data 1 from web")
def step_2() :  
    global step 
    step = "step_2"
    data2, meta_data = fd.get_cash_flow_quarterly(entity) #get cash flow quarterly data
    data2.to_csv(r'C:\Varians\Cash Flow Quarterly.csv', index=None, header=True)
    print("Succsesfully Pull Data 2 from web")
def step_3():
    global step 
    step = "step_3"
    data3, meta_data = fd.get_balance_sheet_quarterly(entity) #get balance sheet quarterly data
    data3.to_csv(r'C:\Varians\Balance Sheet Quarterly.csv', index=None, header=True)
    print("Succsesfully Pull Data 3 from web")
def step_4():
    global step 
    step = "step_4"
    global OV
    fd = FundamentalData(key=_API_KEY_TEST, output_format='json')
    OV, meta_data = fd.get_company_overview( entity)
    split_OV=OV
    #write tuple/list overview to csv file
    with open(r'C:\Varians\Overview2.csv', 'w') as g:
        writer1=csv.writer(g,lineterminator='\n')
        writer1.writerow(split_OV.keys())
        writer1.writerow(split_OV.values())
        
    print("Succsesfully Pull Data Overview from web")
        
def step_5():
    global step 
    step = "step_5"
    ts = TimeSeries(key=_API_KEY_TEST, output_format='pandas')
    last_price, meta_data = ts.get_monthly(entity)
    last_price.to_csv(r'C:\Varians\Last Price.csv', index=True, header=True)
    print("Succsesfully Pull Data Timeseries from web")

if __name__ == "__main__":        
    # define the name of the directory to be created
    path = "/Varians"
    #creating folder on C:
    try:
        os.makedirs(path)
    except OSError:
        print ("Creation of the directory %s failed" % path)
    else:
        print ("Successfully created the directory %s" % path)

    with open(r'C:\Varians\stocklist.csv') as slist:
        stocklist = pd.read_csv(slist, header = None)

    stocklist = stocklist.rename(columns={0 : 'company', 1 : 'market', 2 : 'ticker'})
    stocklist.ticker = stocklist.ticker.str.strip()

    _API_KEY_TEST1 = 'G23MAAVKWB5TMPMV'
    _API_KEY_TEST2 = '6PE06AMZAM1MCGFX' #myanuarfirdaus
    _API_KEY_TEST3 = '6HZYCBP71FGOR1O5' #myanuarfirdaus23
    _API_KEY_TEST4 = 'X5LNMI2AESR1YQCU' #muh_yanuar_firdaus@yahoo.com
    _API_KEY_TEST5 = 'YBBKWRK4VSTP4GZH' #anggiengineer@yahoo.com
    _API_KEY_TEST6 = 'X3Z3LQ31Z9B1OYX9' #myanuarfirdaus@hotmail.com
    names = [_API_KEY_TEST1,_API_KEY_TEST2,_API_KEY_TEST3,_API_KEY_TEST4,_API_KEY_TEST5,_API_KEY_TEST6]
    # names = [_API_KEY_TEST4,_API_KEY_TEST5,_API_KEY_TEST6]

    for zticker in list (stocklist.ticker) :
        entity = str(zticker)
        print ("Stock Ticker Name : "+entity)
        _API_KEY_TEST = ""
        zkey = 0
        step = ""
        df_OV = pd.DataFrame()
        ISQ_reader = pd.DataFrame()
        CFQ_reader = pd.DataFrame()
        BSQ_reader = pd.DataFrame()
        dict_table = pd.DataFrame()

        randomize()

        #call data API Fundamental Quarterly
        fd = FundamentalData(key=_API_KEY_TEST, output_format='pandas')
        procedure = [step_1,step_2,step_3,step_4,step_5]

        while True :
            try : 
                for i in procedure :
                    i()

                #read csv file to pull data for calculation variable
                with open(r'C:\Varians\Income Statement Quarterly.csv') as ISQ:
                    ISQ_reader = pd.read_csv(ISQ)

                with open(r'C:\Varians\Cash Flow Quarterly.csv') as CFQ:
                    CFQ_reader = pd.read_csv(CFQ)

                with open(r'C:\Varians\Balance Sheet Quarterly.csv') as BSQ:
                    BSQ_reader = pd.read_csv(BSQ)

                with open(r'C:\Varians\Last Price.csv') as LP:
                    LP_reader = pd.read_csv(LP)

                #change date from object to datetime64
                ISQ_reader.fiscalDateEnding=ISQ_reader.fiscalDateEnding.astype('datetime64')
                ISQ_reader.replace(to_replace=['None'], value=np.nan, inplace=True) #to change string none to NaN
                ISQ_reader.fillna(value=0,inplace=True)
                CFQ_reader.fiscalDateEnding=CFQ_reader.fiscalDateEnding.astype('datetime64')
                CFQ_reader.replace(to_replace=['None'], value=np.nan, inplace=True)
                CFQ_reader.fillna(value=0,inplace=True)
                BSQ_reader.fiscalDateEnding=BSQ_reader.fiscalDateEnding.astype('datetime64')
                BSQ_reader.replace(to_replace=['None'], value=np.nan, inplace=True)
                BSQ_reader.fillna(value=0,inplace=True)
                BSQ_reader["commonStockSharesOutstanding"] = BSQ_reader.commonStockSharesOutstanding.astype(float) #to change  data type of SO
                LP_reader.date=LP_reader.date.astype('datetime64')

                cols = BSQ_reader.columns.drop('fiscalDateEnding')
                BSQ_reader[cols] = BSQ_reader[cols].apply(pd.to_numeric, errors='coerce')
                cols = ISQ_reader.columns.drop('fiscalDateEnding')
                ISQ_reader[cols] = ISQ_reader[cols].apply(pd.to_numeric, errors='coerce')
                cols = CFQ_reader.columns.drop('fiscalDateEnding')
                CFQ_reader[cols] = CFQ_reader[cols].apply(pd.to_numeric, errors='coerce')

                #make fundamental data from quarterly to monthly and fill forward NaN data with previous quarterly data
                #this code only apply on int or float data types
                #resample made the date ascending, while data from time series is descending. Why not just LP became ascending? Because LP has longer date than the other data
                ISQ_monthly=ISQ_reader.resample('M', on='fiscalDateEnding').mean()
                ISQ_monthly.fillna(method='ffill',inplace=True)
                ISQ_monthly.sort_values(by=['fiscalDateEnding'], ascending=False, inplace=True)
                CFQ_monthly=CFQ_reader.resample('M', on='fiscalDateEnding').mean()
                CFQ_monthly.fillna(method='ffill',inplace=True)
                CFQ_monthly.sort_values(by=['fiscalDateEnding'], ascending=False, inplace=True)
                BSQ_monthly=BSQ_reader.resample('M', on='fiscalDateEnding').mean()
                BSQ_monthly.fillna(method='ffill',inplace=True)
                BSQ_monthly.sort_values(by=['fiscalDateEnding'], ascending=False, inplace=True)

                #call all data needed for calculation and clean it first and wrap it into single variable list
                ISQ_monthly.reset_index(inplace=True)
                SO = BSQ_monthly['commonStockSharesOutstanding']
                netIncome = ISQ_monthly['netIncome']
                TA = BSQ_monthly['totalAssets']
                TL = BSQ_monthly['totalLiabilities']
                TSE = BSQ_monthly['totalShareholderEquity']
                cash = BSQ_monthly['cash']
                STD = BSQ_monthly['shortTermDebt']
                LTD = BSQ_monthly['longTermDebt']
                EBIT = ISQ_monthly['ebit']
                DEPR = CFQ_monthly['depreciation']
                AMOR = BSQ_monthly['accumulatedAmortization']

                dict_table=pd.DataFrame(list(zip(SO,netIncome,TA,TL,TSE,cash,STD,LTD,EBIT,DEPR,AMOR)))
                TS_table=LP_reader.loc[0:(len(netIncome)), ['date', '4. close']]

                tempaddrow=addrow(TS_table.date,ISQ_monthly.fiscalDateEnding,dict_table) #use addrow function to add row to equal TS table row with quarter table row
                datincome=pd.DataFrame(tempaddrow[0])
                counter=tempaddrow[1]


                allsindex=datincome.rename(columns={ 0 : 'SO', 1 : 'netIncome', 2 : 'TA', 3 : 'TL', 4 : 'TSE', 5 : 'cash', 6 : 'STD', 7 : 'LTD', 8 : 'EBIT', 9 : 'DEPR', 10 : 'AMOR' })
                TS_table=LP_reader.loc[0:(len(netIncome)+counter), ['date', '4. close']]
                TS_table=TS_table.rename(columns={"4. close": "LastPrice"})
                inputmerge=TS_table.merge(allsindex, left_index=True, right_index=True)
                #print(inputmerge)
                #print(tempaddrow)

                #calculating EPS TTM (Trailing Twelve Months) for PER input

                #calculation for EPS Quarterly

                Tableeps =pd.DataFrame()
                Tableeps ['Date'] = ISQ_reader.fiscalDateEnding
                Tableeps ['NIQ'] = ISQ_reader.netIncome
                Tableeps ['SOQ'] = BSQ_reader.commonStockSharesOutstanding
                Tableeps = Tableeps.sort_index(ascending=False)
                Tableeps = Tableeps.reset_index(drop=True)
                EPStemps = [Tableeps.NIQ[i]/Tableeps.SOQ[i] for i in range(len(Tableeps.SOQ))]
                NIQtemps = Tableeps.NIQ

                #Make EPSTTM table from function makettm 
                EPSTTM = makettm(EPStemps,4)
                #EPSTTM = EPSTTM.rename(columns={'EPS':'EPSTTM'})
                Tableeps ['EPSTTM'] = pd.DataFrame(EPSTTM)

                #make netIncome TTM table from function makettm
                NITTM = makettm(NIQtemps,4)
                Tableeps['NITTM']=pd.DataFrame(NITTM)

                Tableeps=Tableeps.resample('M', on='Date').mean()
                Tableeps.fillna(method='ffill',inplace=True)
                Tableeps = Tableeps.sort_index(ascending=False)
                Tableeps.reset_index(inplace=True)
                Coldate = Tableeps.Date
                Tableeps = Tableeps.set_index('Date')
                temp= addrow(TS_table.date,Coldate,Tableeps)
                TTMmonth = temp[0]
                #print(TTMmonth)
                #print(Tableeps)
                #gimana ngeluarin function result ke dataframe

                #calculation
                #columns=['EPS']

                Calculation = pd.DataFrame()

                inputcalc = inputmerge
                inputcalc = inputcalc.sort_index(ascending=False)
                inputcalc = inputcalc.reset_index(drop=True)

                #for i in range (len(SO)):
                Calculation ['Date'] = inputcalc.date
                Calculation ['LastPrice'] = inputcalc.LastPrice
                Calculation ['ShareOut'] = inputcalc.SO
                Calculation ['MarketCap'] = [inputcalc.LastPrice[i]*inputcalc.SO[i] for i in range(len(inputcalc.SO))]
                Calculation ['EPS'] = [inputcalc.netIncome[i]/inputcalc.SO[i] for i in range(len(inputcalc.SO))]

                #Merging TTM EPS
                temp = pd.DataFrame()
                temp['EPSTTM'] = (TTMmonth.EPSTTM)
                temp['NITTM'] = TTMmonth.NITTM
                temp = temp.sort_index(ascending=False)
                temp.reset_index(inplace=True)
                #Calculation = Calculation.merge(EPSTTM, left_index=True, right_index=True)

                Calculation ['EPSTTM'] = temp.EPSTTM
                Calculation ['PER'] = [inputcalc.LastPrice[i]/temp.EPSTTM[i] for i in range(len(inputcalc.SO))]
                Calculation ['BVPS'] = [(inputcalc.TA[i]-inputcalc.TL[i])/inputcalc.SO[i] for i in range(len(inputcalc.SO))]
                Calculation ['PBV'] = [Calculation.LastPrice[i]/Calculation.BVPS[i] for i in range(len(inputcalc.SO))]
                Calculation ['ROA%'] = [temp.NITTM[i]/inputcalc.TA[i]*100 for i in range(len(inputcalc.SO))]
                Calculation ['ROE%'] = [temp.NITTM[i]/inputcalc.TSE[i]*100 for i in range(len(inputcalc.SO))]
                Calculation ['EV'] = [Calculation.MarketCap[i]+inputcalc.cash[i]-(inputcalc.STD[i]+inputcalc.LTD[i]) for i in range(len(inputcalc.SO))]
                Calculation ['EBITDA'] = [inputcalc.EBIT[i]+inputcalc.DEPR[i]+inputcalc.AMOR[i] for i in range(len(inputcalc.SO))]
                Calculation ['EV/EBITDA'] = [Calculation.EV[i]/Calculation.EBITDA[i] for i in range(len(inputcalc.SO))]
                Calculation ['D/E'] = [inputcalc.TL[i]/inputcalc.TSE[i] for i in range(len(inputcalc.TL))]
                Calculation ['Debt/Totalcap'] = [(inputcalc.STD[i]+inputcalc.LTD[i])/(inputcalc.STD[i]+inputcalc.LTD[i]+inputcalc.TSE[i]) for i in range(len(inputcalc.STD))]
                Calculation ['Debt/EBITDA'] = [(inputcalc.STD[i]+inputcalc.LTD[i])/Calculation.EBITDA[i] for i in range(len(inputcalc.STD)) ]

                Calculation = Calculation.replace([np.inf, -np.inf], 0)
                #print(Calculation.tail(30))
                print(Calculation.dtypes)

                Calculation.to_csv(r'C:\Varians\Calculation.csv', index=None, header=True)

                #preparing pandas dataframe to list inputing to mysql

                mysql_list = []
                Unique_ID  = []
                StockName  = [entity.upper()]*len(Calculation['Date'])  

                for i in range (len(Calculation['Date'])) :
                    temp = entity + str(Calculation['Date'][i].strftime('%Y%m%d'))
                    Unique_ID.append(temp)
                    i += 1

                mysql_list.append(Unique_ID)
                mysql_list.append(StockName)

                for i in list(Calculation.columns) :
                    mysql_list.append(Calculation[i])

                #print(mysql_list)
                # data table overview

                df_OV = pd.Series(OV, name='Info')
                df_OV.index.name = 'Data'
                list_header_OV = df_OV.index.tolist()
                #print (df_OV.head(5))

                db = connect("newstockmarket")
                cursor = db.cursor()

                #--------------------------------------------------------------------------------------------------------------------------------------------------
                ftable = "stock_fundamental"
                ovtable = "stock_overview"
                fintable = "financial_report"
                cashtable = "cashflow"
                incometable = "income_statement"
                balancetable = "balance_sheet"

                create_ovtable = ("CREATE TABLE IF NOT EXISTS {table} "
                                  #" ( Stock_ID int(5) NOT NULL AUTO_INCREMENT PRIMARY KEY, "
                                  " ( SYMBOL VARCHAR(8) NOT NULL PRIMARY KEY, ASSET_TYPE VARCHAR(30), NAME VARCHAR(50) NOT NULL, "
                                  " DESCRIPTION VARCHAR(255), EXCHANGE VARCHAR(10), CURRENCY VARCHAR(5), "
                                  " COUNTRY VARCHAR(50), SECTOR VARCHAR(50), INDUSTRY VARCHAR(50), "
                                  " ADDRESS VARCHAR(255), Full_Time_Employees INT(20), Fiscal_Year_End VARCHAR(15), "
                                  " LATEST_QUARTER DATE, DividendDate DATE, ExDividendDate DATE, "
                                  " LastSplitFactor DECIMAL(5,2), LastSplitDate DATE )"
                                 )
                create_fintable = ("CREATE TABLE IF NOT EXISTS {table} "
                                  " ( NUMBER int(5) NOT NULL AUTO_INCREMENT PRIMARY KEY, "
                                  " SYMBOL VARCHAR(8), MARKET_CAP DECIMAL(15,2), EBITDA DECIMAL(15,2), "
                                  " PER DECIMAL(15,2), PEGR DECIMAL(15,2), BOOK_VALUE DECIMAL(15,2), "
                                  " Dividend_Per_Share DECIMAL(15,2), Dividend_Yield DECIMAL(15,2), EPS DECIMAL(15,2), "
                                  " Revenue_Per_Share_TTM DECIMAL(15,2), Profit_Margin DECIMAL(15,2), Operating_Margin_TTM DECIMAL(15,2), "
                                  " ROA_TTM DECIMAL(15,2), ROE_TTM DECIMAL(15,2), REVENUE_TTM DECIMAL(15,2), "
                                  " Gross_Profit_TTM DECIMAL(15,2), Diluted_EPS_TTM DECIMAL(15,2), Quarterly_Earnings_Growth_YOY DECIMAL(15,2), "
                                  " Quarterly_Revenue_Growth_YOY DECIMAL(15,2), Analyst_Target_Price DECIMAL(15,2), Trailing_PE DECIMAL(15,2), "
                                  " Forward_PE DECIMAL(15,2), Price_to_Sales_Ratio_TTM DECIMAL(15,2), PBV DECIMAL(15,2), "
                                  " EVtoRevenue DECIMAL(15,2), EVtoEBITDA DECIMAL(15,2), Beta DECIMAL(15,2), "
                                  " 52WeekHigh DECIMAL(15,2), 52WeekLow DECIMAL(15,2), 50DayMovingAverage DECIMAL(15,2), "
                                  " 200DayMovingAverage DECIMAL(15,2), SharesOutstanding DECIMAL(15,2), SharesFloat DECIMAL(15,2), " 
                                  " SharesShort DECIMAL(15,2), SharesShortPriorMonth DECIMAL(15,2), ShortRatio DECIMAL(15,2), " 
                                  " ShortPercentOutstanding DECIMAL(15,2), ShortPercentFloat DECIMAL(15,2), PercentInsiders DECIMAL(15,2), "
                                  " PercentInstitutions DECIMAL(15,2), ForwardAnnualDividendRate DECIMAL(15,2), ForwardAnnualDividendYield DECIMAL(15,2), " 
                                  " PayoutRatio DECIMAL(15,2) ) "
                                  )
                create_ftable = ("CREATE TABLE IF NOT EXISTS {table} "
                               " ( UNIQUE_ID VARCHAR(20) NOT NULL PRIMARY KEY, SYMBOL VARCHAR(8) NOT NULL, "
                               " DATE date NOT NULL, LAST_PRICE_RP decimal(8, 2) NOT NULL,"
                               " SHARE_OUT decimal(15, 2) NOT NULL, MARKET_CAP_RP decimal(15, 2) NOT NULL, "
                               " DEVIDEN_RP decimal(15, 2) NOT NULL,  EPSTTMM_RP decimal(15, 2) NOT NULL, "
                               " PER_X decimal(15, 2) NOT NULL, BVPS_RP decimal(15, 2) NOT NULL, "
                               " PBV_X decimal(15, 2) NOT NULL, ROA_PERCENT decimal(15, 2) NOT NULL, "
                               " ROE_PERCENT decimal(15, 2) NOT NULL, EV decimal(15, 2) NOT NULL, "
                               " EBITDA decimal(15, 2) NOT NULL, EV_EBITDA_RATIO decimal(15, 2) NOT NULL, "
                               " D_E_RATIO decimal(15, 2) NOT NULL, DEBT_TOTALCAP_RATIO decimal(15, 2) NOT NULL, "
                               " DEBT_EBITDA_RATIO decimal(15, 2) NOT NULL) "
                               )

                create_cashtable = ("CREATE TABLE IF NOT EXISTS {table} "
                                    " ( uniqueId VARCHAR(20) NOT NULL PRIMARY KEY, symbol VARCHAR(8) NOT NULL, "
                                    " fiscaldate date NOT NULL, reportedCurrency VARCHAR(5), investments decimal(15, 2) NOT NULL,"
                                    " changeInLiabilities decimal(15, 2) NOT NULL, cashflowFromInvestment decimal(15, 2) NOT NULL, otherCashflowFromInvestment decimal(15, 2), "
                                    " netBorrowings decimal(15, 2) NOT NULL, cashflowFromFinancing decimal(15, 2) NOT NULL, otherCashflowFromFinancing decimal(15, 2), "
                                    " changeInOperatingActivities decimal(15, 2), netIncome decimal(15, 2) NOT NULL, changeInCash decimal(15, 2), "
                                    " operatingCashflow decimal(15, 2), otherOperatingCashflow decimal(15, 2), depreciation decimal(15, 2), "
                                    " dividendPayout decimal(15, 2), stockSaleAndPurchase decimal(15, 2), changeInInventory decimal(15, 2), "
                                    " changeInAccountReceivables decimal(15, 2), changeInNetIncome decimal(15, 2), capitalExpenditures decimal(15, 2), "
                                    " changeInReceivables decimal(15, 2), changeInExchangeRate decimal(15, 2), changeInCashAndCashEquivalents decimal(15, 2) )"
                                   )
                create_incometable = ("CREATE TABLE IF NOT EXISTS {table} "
                                      " ( uniqueId VARCHAR(20) NOT NULL PRIMARY KEY, symbol VARCHAR(8) NOT NULL, "
                                      " fiscaldate date NOT NULL, reportedCurrency VARCHAR(5), totalRevenue decimal(15, 2) NOT NULL, "
                                      " totalOperatingExpense decimal(15, 2) NOT NULL, costOfRevenue decimal(15, 2) NOT NULL,  grossProfit decimal(15, 2) NOT NULL, "
                                      " ebit decimal(15, 2), netIncome decimal(15, 2), researchAndDevelopment decimal(15, 2), "
                                      " effectOfAccountingCharges decimal(15, 2), incomeBeforeTax decimal(15, 2), minorityInterest decimal(15, 2), "
                                      " sellingGeneralAdministrative decimal(15, 2), otherNonOperatingIncome decimal(15, 2), operatingIncome decimal(15, 2), "
                                      " otherOperatingExpense decimal(15, 2), interestExpense decimal(15, 2), taxProvision decimal(15, 2), "
                                      " interestIncome decimal(15, 2), netInterestIncome decimal(15, 2), extraordinaryItems decimal(15, 2), "
                                      " nonRecurring decimal(15, 2), otherItems decimal(15, 2), incomeTaxExpense decimal(15, 2), "
                                      " totalOtherIncomeExpense decimal(15, 2), discontinuedOperations decimal(15, 2), netIncomeFromContinuingOperations decimal(15, 2), "
                                      " netIncomeApplicableToCommonShares decimal(15, 2), preferredStockAndOtherAdjustments decimal(15, 2) )"
                                    )       
                create_balancetable = ("CREATE TABLE IF NOT EXISTS {table} "
                                       " ( uniqueId VARCHAR(20) NOT NULL PRIMARY KEY, symbol VARCHAR(8) NOT NULL, "
                                       " fiscaldate date NOT NULL, reportedCurrency VARCHAR(5), totalAssets decimal(15, 2) NOT NULL, "
                                       " intangibleAssets decimal(15, 2), earningAssets decimal(15, 2), otherCurrentAssets decimal(15, 2), "
                                       " totalLiabilities decimal(15, 2), totalShareholderEquity decimal(15, 2), deferredLongTermLiabilities decimal(15, 2), "
                                       " otherCurrentLiabilities decimal(15, 2), commonStock decimal(15, 2), retainedEarnings decimal(15, 2), "
                                       " otherLiabilities decimal(15, 2), goodwill decimal(15, 2), otherAssets decimal(15, 2), "
                                       " cash decimal(15, 2), totalCurrentLiabilities decimal(15, 2), shortTermDebt decimal(15, 2), "
                                       " currentLongTermDebt decimal(15, 2), otherShareholderEquity decimal(15, 2), propertyPlantEquipment decimal(15, 2), "
                                       " totalCurrentAssets decimal(15, 2), longTermInvestments decimal(15, 2), netTangibleAssets decimal(15, 2), "
                                       " shortTermInvestments decimal(15, 2), netReceivables decimal(15, 2), longTermDebt decimal(15, 2), "
                                       " inventory decimal(15, 2), accountsPayable decimal(15, 2), totalPermanentEquity decimal(15, 2), "
                                       " additionalPaidInCapital decimal(15, 2), commonStockTotalEquity decimal(15, 2), preferredStockTotalEquity decimal(15, 2), "
                                       " retainedEarningsTotalEquity decimal(15, 2), treasuryStock decimal(15, 2), accumulatedAmortization decimal(15, 2), "
                                       " otherNonCurrrentAssets decimal(15, 2), deferredLongTermAssetCharges decimal(15, 2), totalNonCurrentAssets decimal(15, 2), "
                                       " capitalLeaseObligations decimal(15, 2), totalLongTermDebt decimal(15, 2), otherNonCurrentLiabilities decimal(15, 2), "
                                       " totalNonCurrentLiabilities decimal(15, 2), negativeGoodwill decimal(15, 2), warrants decimal(15, 2), "
                                       " preferredStockRedeemable decimal(15, 2), capitalSurplus decimal(15, 2), liabilitiesAndShareholderEquity decimal(15, 2), "
                                       " cashAndShortTermInvestments decimal(15, 2), accumulatedDepreciation decimal(15, 2), commonStockSharesOutstanding decimal(15, 2) )"
                                      )
            
                cursor = db.cursor()
                cursor.execute(create_ovtable.format(table=ovtable) )                    
                cursor.execute(create_fintable.format(table=fintable) )                
                cursor.execute(create_ftable.format(table=ftable) )
                cursor.execute(create_cashtable.format(table=cashtable) )                    
                cursor.execute(create_incometable.format(table=incometable) )                
                cursor.execute(create_balancetable.format(table=balancetable) )

                #------------------------------------------------------------------------------------------
                #inserting data overview into mysql
                insert_ovtable = ("INSERT IGNORE INTO {table} "
                                "( SYMBOL, ASSET_TYPE, "
                                "NAME, DESCRIPTION, EXCHANGE, "
                                "CURRENCY, COUNTRY, SECTOR, "
                                "INDUSTRY, ADDRESS, Full_Time_Employees, "
                                "Fiscal_Year_End, LATEST_QUARTER, DividendDate, "
                                "ExDividendDate, LastSplitFactor, LastSplitDate ) "
                                "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                                 )
                temp_data = []

                for i in range(13) :
                    single_data = df_OV[list_header_OV[i]]
                    temp_data.append(single_data)
                for i in range(55, len(list_header_OV)) :
                    single_data = df_OV[list_header_OV[i]]
                    temp_data.append(single_data)
                cursor.execute(insert_ovtable.format(table=ovtable), temp_data)
                
                ##############################
                #inserting financial report into mysql
                insert_fintable = ("INSERT IGNORE INTO {table} "
                                    "( SYMBOL, MARKET_CAP, EBITDA, " 
                                    " PER, PEGR, BOOK_VALUE, "
                                    " Dividend_Per_Share, Dividend_Yield, EPS, "
                                    " Revenue_Per_Share_TTM, Profit_Margin, Operating_Margin_TTM, "
                                    " ROA_TTM, ROE_TTM, REVENUE_TTM, "
                                    " Gross_Profit_TTM, Diluted_EPS_TTM, Quarterly_Earnings_Growth_YOY, "
                                    " Quarterly_Revenue_Growth_YOY, Analyst_Target_Price, Trailing_PE, "
                                    " Forward_PE, Price_to_Sales_Ratio_TTM, PBV, "
                                    " EVtoRevenue, EVtoEBITDA, Beta, "
                                    " 52WeekHigh, 52WeekLow, 50DayMovingAverage, "
                                    " 200DayMovingAverage, SharesOutstanding, SharesFloat, "
                                    " SharesShort, SharesShortPriorMonth, ShortRatio, "
                                    " ShortPercentOutstanding, ShortPercentFloat, PercentInsiders, "
                                    " PercentInstitutions, ForwardAnnualDividendRate, ForwardAnnualDividendYield, PayoutRatio ) "
                                    " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, "
                                    " %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, "
                                    " %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )"
                                  )
                temp_data = []
                temp_data.append(entity)
                for i in range(13, 55) :
                    single_data = df_OV[list_header_OV[i]]
                    temp_data.append(single_data)
                cursor.execute(insert_fintable.format(table=fintable), temp_data)

                #inserting data fundamental into mysql
                insert_ftable = ("INSERT IGNORE INTO {table} "
                               "(UNIQUE_ID, SYMBOL, DATE, LAST_PRICE_RP, SHARE_OUT, MARKET_CAP_RP, "
                               "DEVIDEN_RP, EPSTTMM_RP, PER_X, BVPS_RP, PBV_X, ROA_PERCENT, ROE_PERCENT, "
                               "EV, EBITDA, EV_EBITDA_RATIO, D_E_RATIO, DEBT_TOTALCAP_RATIO, "
                               "DEBT_EBITDA_RATIO) "
                               "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)")
                j = 0
                while j < len(mysql_list[0]) :
                    temp_data = []
                    i = 0
                    while i < len(mysql_list) :
                        temp_data.append(str (mysql_list[i][j]))
                        #print(project_data)
                        i += 1

                    cursor.execute(insert_ftable.format(table=ftable), temp_data)
                    j += 1
                    
                ##############################    
                #dataframe to list
                cashtable_list = []
                Unique_ID  = []
                StockName = []
                StockName  = [entity.upper()]*len (CFQ_reader["fiscalDateEnding"]) 

                for i in range (len (CFQ_reader["fiscalDateEnding"]) ) :
                    temp = entity + str(CFQ_reader["fiscalDateEnding"][i].strftime('%Y%m%d'))
                    Unique_ID.append(temp)
                    i += 1

                cashtable_list.append(Unique_ID)
                cashtable_list.append(StockName)

                for i in list(CFQ_reader.columns) :
                    cashtable_list.append(CFQ_reader[i])  
                    
                #inserting data cash flow into mysql
                insert_cashtable = ("INSERT IGNORE INTO {table} "
                                    " ( uniqueId, symbol, "
                                    " fiscalDate, reportedCurrency, investments, changeInLiabilities, cashflowFromInvestment, "
                                    " otherCashflowFromInvestment, netBorrowings, cashflowFromFinancing, otherCashflowFromFinancing, changeInOperatingActivities, "
                                    " netIncome, changeInCash, operatingCashflow, otherOperatingCashflow, depreciation, "
                                    " dividendPayout, stockSaleAndPurchase, changeInInventory, changeInAccountReceivables, changeInNetIncome, "
                                    " capitalExpenditures, changeInReceivables, changeInExchangeRate, changeInCashAndCashEquivalents ) "
                                    " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)" )             
                
                #inserting to mysql
                j = 0
                while j < len(cashtable_list[0]) :
                    temp_data = []
                    i = 0
                    while i < len(cashtable_list) :
                        temp_data.append(str (cashtable_list[i][j]))
                        #print(project_data)
                        i += 1

                    cursor.execute(insert_cashtable.format(table=cashtable), temp_data)
                    j += 1
                ##############################
                #dataframe to list
                incometable_list = []
                Unique_ID  = []
                StockName = []
                StockName  = [entity.upper()]*len (ISQ_reader["fiscalDateEnding"]) 

                for i in range (len (ISQ_reader["fiscalDateEnding"]) ) :
                    temp = entity + str(ISQ_reader["fiscalDateEnding"][i].strftime('%Y%m%d'))
                    Unique_ID.append(temp)
                    i += 1

                incometable_list.append(Unique_ID)
                incometable_list.append(StockName)

                for i in list(ISQ_reader.columns) :
                    incometable_list.append(ISQ_reader[i])  
                    
                #inserting incometable into mysql
                insert_incometable = ("INSERT IGNORE INTO {table} "
                                      " ( uniqueId, symbol, "
                                      " fiscalDate, reportedCurrency, totalRevenue, totalOperatingExpense, costOfRevenue, "
                                      " grossProfit, ebit, netIncome, researchAndDevelopment, effectOfAccountingCharges, "
                                      " incomeBeforeTax, minorityInterest, sellingGeneralAdministrative, otherNonOperatingIncome, operatingIncome, "
                                      " otherOperatingExpense, interestExpense, taxProvision, interestIncome, netInterestIncome, "
                                      " extraordinaryItems, nonRecurring, otherItems, incomeTaxExpense, totalOtherIncomeExpense, "
                                      " discontinuedOperations, netIncomeFromContinuingOperations, netIncomeApplicableToCommonShares, preferredStockAndOtherAdjustments ) "
                                      " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)" )
                
                #inserting to mysql
                j = 0
                while j < len(incometable_list[0]) :
                    temp_data = []
                    i = 0
                    while i < len(incometable_list) :
                        temp_data.append(str (incometable_list[i][j]))
                        #print(project_data)
                        i += 1

                    cursor.execute(insert_incometable.format(table=incometable), temp_data)
                    j += 1
                
                ##############################
                #dataframe to list
                balancetable_list = []
                Unique_ID  = []
                StockName = []
                StockName  = [entity.upper()]*len (BSQ_reader["fiscalDateEnding"]) 

                for i in range (len (BSQ_reader["fiscalDateEnding"]) ) :
                    temp = entity + str(BSQ_reader["fiscalDateEnding"][i].strftime('%Y%m%d'))
                    Unique_ID.append(temp)
                    i += 1

                balancetable_list.append(Unique_ID)
                balancetable_list.append(StockName)

                for i in list(BSQ_reader.columns) :
                    balancetable_list.append(BSQ_reader[i])  
                    
                #inserting incometable into mysql
                insert_balancetable = ("INSERT IGNORE INTO {table} "
                                       " ( uniqueId, symbol, "
                                       " fiscalDate, reportedCurrency, totalAssets, intangibleAssets, earningAssets, "
                                       " otherCurrentAssets, totalLiabilities, totalShareholderEquity, deferredLongTermLiabilities, otherCurrentLiabilities, "
                                       " commonStock, retainedEarnings, otherLiabilities, goodwill, otherAssets, "
                                       " cash, totalCurrentLiabilities, shortTermDebt, currentLongTermDebt, otherShareholderEquity, "
                                       " propertyPlantEquipment, totalCurrentAssets, longTermInvestments, netTangibleAssets, shortTermInvestments, "
                                       " netReceivables, longTermDebt, inventory, accountsPayable, totalPermanentEquity, "
                                       " additionalPaidInCapital, commonStockTotalEquity, preferredStockTotalEquity, retainedEarningsTotalEquity, treasuryStock, "
                                       " accumulatedAmortization, otherNonCurrrentAssets, deferredLongTermAssetCharges, totalNonCurrentAssets, capitalLeaseObligations, "
                                       " totalLongTermDebt, otherNonCurrentLiabilities, totalNonCurrentLiabilities, negativeGoodwill, warrants, "
                                       " preferredStockRedeemable, capitalSurplus, liabilitiesAndShareholderEquity, cashAndShortTermInvestments, accumulatedDepreciation, "
                                       " commonStockSharesOutstanding ) "
                                       " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, "
                                       " %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)" )

                #inserting to mysql
                j = 0
                while j < len(balancetable_list[0]) :
                    temp_data = []
                    i = 0
                    while i < len(balancetable_list) :
                        temp_data.append(str (balancetable_list[i][j]))
                        #print(project_data)
                        i += 1
                    cursor.execute(insert_balancetable.format(table=balancetable), temp_data)
                    j += 1
                    
                    
                db.commit()
                db.close()
                time.sleep(10)
                break
            except ValueError as e :
                print (e)
                if str(e) == "Error getting data from the api, no return was given." :
                    print ("Problem Ticker Name : "+entity+" ...Skipping")
                    break
                    continue

                else :
                    if (step == "step_2") :
                        procedure = [step_2,step_3,step_4,step_5]
                        print ("beginning from step 2")
                        randomize()
                        time.sleep(10)  
                    elif (step == "step_3") :
                        procedure = [step_3,step_4,step_5]
                        print ("beginning from step 3")
                        randomize()
                        time.sleep(10)  
                    elif (step == "step_4") :
                        procedure = [step_4,step_5]
                        print ("beginning from step 4")
                        randomize()
                        time.sleep(10) 
                    elif (step == "step_5") :
                        procedure = [step_5]
                        print ("beginning from step 5")
                        randomize()
                        time.sleep(10)  
                    else :
                        print ("Step 1 Problem API Limit..Try Again")
                        print (step)
                        randomize()
                        time.sleep(10)        
#     except ValueError :
#         time.sleep(5)
#         continue
        
#######################################################################################################################################################################################################################################################################################################

Creation of the directory /Varians failed
Stock Ticker Name : KHC
the API key right now is : 6PE06AMZAM1MCGFX
Succsesfully Pull Data 1 from web
Succsesfully Pull Data 2 from web
Succsesfully Pull Data 3 from web
Succsesfully Pull Data Overview from web
Succsesfully Pull Data Timeseries from web

KeyError: 'cash'

In [2]:
import API_Pull
API_KEY_TEST = ""
entity = ["gagago", "AAPL"]
for i in entity :
    API_KEY_TEST = API_Pull.ApiKeyDistribute().randomize(API_KEY_TEST)
    e = API_Pull.ApiCalling(i, API_KEY_TEST).step_1()
    API_Pull.ApiCalling(i, API_KEY_TEST).step_2(e)
    API_Pull.ApiCalling(i, API_KEY_TEST).step_3(e)
    API_Pull.ApiCalling(i, API_KEY_TEST).step_4(e)
    API_Pull.ApiCalling(i, API_KEY_TEST).step_5(e)

API key is : G23MAAVKWB5TMPMV
Ticker : gagago
Running step_1
Error getting data from the api, no return was given.
Problem Ticker Name : gagago ...Skipping
Skip step_2
Skip step_3
Skip step_4
Skip step_5
API key is : 6PE06AMZAM1MCGFX
Ticker : AAPL
Running step_1
Succsesfully Pull Data Income Statement from web
Running step_2
Succsesfully Pull Data Cash Flow from web
Running step_3
Succsesfully Pull Data Balance Sheet from web
Running step_4
Succsesfully Pull Data Overview from web
Running step_5
Succsesfully Pull Data Timeseries from web

In [10]:
from alpha_vantage.alphavantage import AlphaVantage
from alpha_vantage.fundamentaldata import FundamentalData
from alpha_vantage.timeseries import TimeSeries
import numpy as np
import pandas as pd
from pandas import DataFrame as df, Timestamp
import csv
import requests
import os
import time
#import module for mysql 
from os import path
import mysql.connector as mysql
from pandas import DataFrame

_API_KEY_TEST = "X3Z3LQ31Z9B1OYX9"
ts = TimeSeries(key=_API_KEY_TEST, output_format='pandas')
last_price_adj, meta_data = ts.get_monthly_adjusted(entity)
last_price_adj

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2021-02-26,33.46,39.2200,32.730,36.38,36.3800,172364386.0,0.000
2021-01-29,34.59,35.2950,31.600,33.51,33.5100,130061089.0,0.000
2020-12-31,32.97,35.4100,32.750,34.66,34.6600,104324204.0,0.000
2020-11-30,31.04,33.8600,29.535,32.94,32.9400,137575427.0,0.400
2020-10-30,30.00,32.8700,29.210,30.59,30.2185,125804647.0,0.000
...,...,...,...,...,...,...,...
2015-12-31,74.23,75.0000,69.390,72.76,58.9320,81406069.0,0.575
2015-11-30,78.43,78.9300,70.250,73.69,59.2083,69193013.0,0.575
2015-10-30,71.27,79.9400,69.370,77.97,62.1432,58115293.0,0.000
2015-09-30,71.23,77.7599,68.650,70.54,56.2214,74831078.0,0.000
2015-08-31,80.00,81.1900,61.420,72.66,57.9110,76568769.0,0.000